html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  max-width: 50em;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circleimage {
  display: inline;
  width: 33%;
  float: left;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

p {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.body {
  width: 50%;
  float: right;
  display: inline;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  background-color: #333;
  padding: 18px;
  display: inline-block;
  font-size: 1.125rem;
}
